@import "tailwindcss";

:root {
    /* Base colors */
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
    :root{
        --radius: 0.5rem; /* 8px base radius */
    }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* COLORS */
  /* primary colors */
  --color-primary-100: #FFE8F0;
  --color-primary-DEFAULT: #EE2B69;
  /* secondary colors */
  --color-secondary: #FBE843;
  /* black */
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7D8087;
  --color-black-DEFAULT: #000000;
  /* white */
  --color-white-100: #F7F7F7;
  --color-white-DEFAULT: #FFFFFF;


  /* FONTS */
  --font-work-sans: var(--font-work-sans);

  /* Border Radius */
  --radius-sm: 0.125rem;   /* 2px */
  --radius-md: 0.375rem;   /* 6px */
  --radius-lg: 0.5rem;     /* 8px */
  --radius-xl: 1rem;       /* 16px */
  --radius-full: 9999px;   /* pill / circle */

  /* Box Shadow */
  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);

  /* Custom screens */
  --breakpoint-xs: 475px;   /* new "xs" breakpoint */
  --breakpoint-sm: 640px;   /* default sm */
  --breakpoint-md: 768px;   /* default md */
  --breakpoint-lg: 1024px;  /* default lg */
  --breakpoint-xl: 1280px;  /* default xl */
  --breakpoint-2xl: 1536px; /* default 2xl */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
    .heading{
        @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
    }

    .sub_heading{
        @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;

    }

    .pink_container {
    @apply w-full bg-primary-DEFAULT min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
    }

    .search-form {
        @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;

    }

    .search-btn {
        @apply size-[50px] rounded-full bg-black flex justify-center items-center;

    }

    .search-input {
        @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none text-black;
    }

    .section_container{
        @apply px-6 py-10 max-w-7xl mx-auto;

    }

    .text-30-bold {
        @apply text-[30px] font-bold text-black dark:text-white-DEFAULT;
    }

    .text-30-semibold {
        @apply font-semibold text-[30px] text-black dark:text-foreground;
    }

    .text-16-medium {
        @apply font-medium text-[16px];
    }

    .text-26-semibold {
        @apply font-semibold text-[26px];
    }

    .text-20-medium {
        @apply font-medium text-[20px] text-black dark:text-white-DEFAULT;
    }

    .card_grid {
        @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
    }

    .no-result {
        @apply text-black dark:text-white-DEFAULT text-sm font-normal;
    }

    .startup-card {
        @apply bg-white dark:bg-black-DEFAULT border-[5px] border-black dark:border-white-DEFAULT py-6 px-5 rounded-[22px] shadow-200 hover:border-primary-100 transition-all duration-500 hover:shadow-300 hover:bg-primary-100 dark:text-white-DEFAULT hover:text-black-DEFAULT;

    }

    .startup-card_desc {
        @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 dark:text-white-100 group-hover:text-black-100 break-all;
    }

    .startup-card_img {
        @apply w-full h-[164px] rounded-[10px] object-cover;
    }

    .startup-card_btn {
        @apply rounded-full bg-black-200 dark:bg-white-100 font-medium text-[16px] text-white dark:text-black px-5 py-3 group-hover:bg-black group-hover:text-white;
    }

    .tag {
        @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative dark:text-black-100;
    }

    .tag-tri {
        @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
    }

    .section_container {
        @apply px-6 py-10 max-w-7xl mx-auto;
    }

    .divider {
        @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
    }

    .view_skeleton {
        @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
    }

    .view-container {
        @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
    }

    .view-text {
        @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize text-black;
    }

    .category-tag {
        @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-xl text-black h-fit;
    }

    .pattern {
        background-image: linear-gradient(
                to right,
                transparent 49.5%,
                rgba(251, 232, 67, 0.2) 49.5%,
                rgba(251, 232, 67, 0.6) 50.5%,
                transparent 50.5%
        );
        background-size: 5% 100%;
        background-position: center;
        background-repeat: repeat-x;
    }


}



body {
  @apply bg-background text-foreground font-work-sans;
}